.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-jessica-lewis-583846.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-1 .u-text-1 {
  margin: 246px auto 0;
}

.u-section-4-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-4-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 48px auto 0;
}

.u-section-4-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 34px auto 0;
}

.u-section-4-1 .u-image-1 {
  width: 156px;
  height: 110px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-1 .u-text-2 {
    font-size: 3.75rem;
  }
}.u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/matthew-fournier-5NM32v14n6M-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-2 .u-text-1 {
  margin: 246px auto 0;
}

.u-section-4-2 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 48px auto 0;
}

.u-section-4-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 34px auto 0;
}

.u-section-4-2 .u-image-1 {
  width: 156px;
  height: 110px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-2 .u-text-2 {
    font-size: 3.75rem;
  }
}.u-section-4-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-pixabay-163100.jpg");
  background-position: 50% 50%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 297px 0 0;
}

.u-section-4-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 72px auto 0;
}

.u-section-4-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-pixabay-207541.jpg");
  background-position: 50% 50%;
}

.u-section-4-4 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 316px 0 0;
}

.u-section-4-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 66px auto 0;
}

.u-section-4-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-4 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-movidagrafica-barcelona-1474993.jpg");
  background-position: 50% 50%;
}

.u-section-4-5 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 316px 0 0;
}

.u-section-4-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 102px auto 0;
}

.u-section-4-5 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-5 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/jeswin-thomas-2Q3Ivd-HsaM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4-6 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 316px 0 0;
}

.u-section-4-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 94px auto 0;
}

.u-section-4-6 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-6 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/american-public-power-association-TF-DL_2L1JM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4-7 .u-sheet-1 {
  min-height: 841px;
}

.u-section-4-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 316px 0 0;
}

.u-section-4-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 105px auto 0;
}

.u-section-4-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4-7 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/fachada.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-text-1 {
  font-weight: 100;
  animation-duration: 1000ms;
  margin: 381px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,1);
  margin: 59px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  width: 873px;
  margin: 89px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 89px;
  margin-bottom: 43px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  font-size: 1.5rem;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 383px;
  height: 253px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  width: 331px;
  font-weight: 300;
  margin: 49px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 255px;
  height: 195px;
  animation-duration: 1000ms;
  margin: 73px auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 102px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }
}.u-block-1c2a-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-1c2a-3 {
  position: absolute;
  left: 0;
}

.u-block-1c2a-4 {
  position: absolute;
  right: 0;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 46px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 228px;
  width: 418px;
  color: rgb(0, 0, 0) !important;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: none;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 173px;
    width: 317px;
    margin-top: 149px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 174px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-5 .u-icon-1 {
    width: 316px;
    margin-left: 0;
  }
}.u-section-6 {
  background-image: linear-gradient(#e5e5e5, #052b4f);
}

.u-section-6 .u-sheet-1 {
  min-height: 510px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 239px;
  height: 192px;
  animation-duration: 1000ms;
  margin: 112px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 154px;
  margin-top: 131px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 222px;
  height: 189px;
  animation-duration: 1000ms;
  margin: 114px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-6 .u-image-2 {
    height: 122px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-6 .u-image-3 {
    height: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-6 .u-image-1 {
    width: 180px;
    height: 145px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-6 .u-image-2 {
    height: 87px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-6 .u-image-3 {
    width: 180px;
    height: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 251px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-6 .u-image-2 {
    height: 154px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 280px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 137px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 78px;
  animation-duration: 1000ms;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 47px;
  }
}