@charset "utf-8";
@font-face { font-family: Soberana Titular; 
			 src: url(fonts/SoberanaTitular-Regular.otf);
			 font-weight: normal;}
@font-face { font-family: Soberana Titular Bold;
			 src: url(fonts/SoberanaTitular-Bold.otf);
			 font-weight: normal;}
@font-face { font-family: Soberana Sans;
			 src: url(fonts/SoberanaSans-Regular.otf);
			 font-weight: normal;}
@font-face { font-family: Soberana Sans Italic; src: url(fonts/SoberanaSans-Italic.otf);
			 font-weight: normal;}
@font-face { font-family: Soberana Sans Bold;
			 src: url(fonts/SoberanaSans-Bold.otf);
			 font-weight: normal ; }

#wrapper {
    margin: 1em auto 0;
   /* max-width: 980px;*/
   max-width: 61em;
}
/*
#wrapper,#mainMenu,#MenuBar1{
    max-width: 61em;
}*/

/* SPRIES MENU */
#mainMenu {
    background: url("../Imagenes/fondo_menu.png") no-repeat scroll left top;
    text-align: center;
}
#MenuBar1{
	padding-left:5px;
	padding-top:3px;
}
ul.MenuBarHorizontal {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 40px;
    z-index: 1000;
}
ul.MenuBarActive {
    height: 40px;
    z-index: 1000;
}
ul.MenuBarHorizontal > li {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 33px;
    list-style-type: none;
    /*padding: 7px 8px 0;*/
    padding: 7px 10px 0;
    position: relative;
	text-transform: none!important;
	
}
ul.MenuBarHorizontal > li a {
    display: block;
    font: 14px "Soberana Titular", serif !important;
    outline: medium none;
    text-decoration: none;
}
	
/*
ul.MenuBarHorizontal li a:after {
  background: url(top_bullet.png) no-repeat -1px 6px!important;
  content: "&nbsp;";
  margin-left: 12px;
 
}
ul.MenuBarHorizontal li a:last-child:after {
  content:"";
}
*/
ul.MenuBarHorizontal li { background: url(../Imagenes/top_bullet.png) no-repeat right 10px;}
ul.MenuBarHorizontal li:last-child { background: none!important;}
ul.MenuBarHorizontal li ul li {background:none!important;}

ul.MenuBarHorizontal ul {
    margin: 0;
    padding: 0;
    /*background: none repeat scroll 0 0 #DFDFDF;*/
	background:#dfdfdf;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, endColorstr='#cbcbcb', startColorstr='#fbfbfb');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#cbcbcb',startColorstr='#fbfbfb')";
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#cbcbcb));
	background-image:-moz-linear-gradient(center top, #fbfbfb, #cbcbcb);
	border:1px solid #fafafa;
	box-shadow:0 2px 5px rgba(0,0,0,0.25);
    border-bottom: 2px solid red;
    cursor: default;
    left: -1000em;
    margin-top: 9px;
    position: absolute;
    z-index: 1020;
}
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {
    left: auto;
}
ul.MenuBarHorizontal ul li {
    font-size: 0.9em;
    font-weight: normal;
    list-style: none;
    margin: 10px;
    padding: 5px;
    text-align: left;
    max-width: 12em;
	color: #7a7979;
	border-bottom: solid 1px #fff;
}
ul.MenuBarHorizontal ul li a:hover {
    text-decoration: underline;
}
ul.MenuBarHorizontal a {
    text-transform: uppercase;
    color: #5F5E5C;
}
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus {
    color: #545454;
    text-decoration: underline;
}

#mostrar{
    display: none;
    background: url(../imagenes/barras.png) no-repeat

}

@media screen and (max-width: 1000px){
    ul.MenuBarHorizontal > li a {
        font: 12px "Soberana Titular", serif !important;
        
    }
}
@media screen and (max-width: 810px){
    ul.MenuBarHorizontal > li a {
        font: 13px "Soberana Titular", serif !important;
    }
    ul.MenuBarHorizontal a {
        text-transform: none;
    }
}
@media screen and (max-width: 700px){
    ul.MenuBarHorizontal > li a {
        font: 12px "Soberana Titular", serif !important;
    }
    
}
@media screen and (max-width: 640px){
    #mostrar{
        display: block;
        position: relative;
        height: 18px;
        width: 23px;
        cursor: pointer;
        margin-left: 18%;
        margin-bottom: -7%;
        z-index: 1;
    }
    #mainMenu{
        /*display: none;*/
        background: none;
        margin-left: 18%;
    }
    #wowslider-container1{
        margin-top: 12%;
    }
    ul.MenuBarHorizontal > li,ul.MenuBarHorizontal li:last-child{
        /*padding: 7px 5px 0;*/
        background: url("../Imagenes/mf.png") no-repeat center -3px!important;
    }
    ul.MenuBarHorizontal > li {
       /* border: solid 1px;*/
        display:inline-block;
        /*width: 60%;*/
        width: 73%;
        height: 20px;
        padding-top: 3px;
        border-radius: .5em;
     }
      ul.MenuBarHorizontal > li a {
        font: 13px "Soberana Titular", serif !important;
    }
    ul.MenuBarHorizontal li ul li:last-child{
        background: none !important;
    }
    ul.MenuBarHorizontal{
        display: table-cell;
    }
}
@media screen and (max-width: 500px){
    ul.MenuBarHorizontal ul li {
        max-width: 10em;
        margin: 8px;
        padding: 4px;
        border: dashed;
    }
    #wowslider-container1{
        margin-top: 19%;
    }
}